extends ../layout

append content
            //untuk sementara kategori dibawah tidak bisa dicustom,nantinya admin disediakan cara memilih kategori yang akan ditampilkan di halaman depan pengguna

            .features_items
              // features_items
              script.
                function numberFormat(_number, _sep) {
                  _number = typeof _number != "undefined" && _number > 0 ? _number : "";
                  _number = _number.replace(new RegExp("^(\\d{" + (_number.length % 3 ? _number.length % 3 : 0) + "})(\\d{3})", "g"), "$1 $2").replace(/(\d{3})+?/gi, "$1 ").trim();
                  if (typeof _sep != "undefined" && _sep != " ") {
                    _number = _number.replace(/\s/g, _sep);
                  }
                  return _number;
                }
              h2.title.text-center PRODUK TERLARIS
              each value,index in hotlist
                div(style='width:230px;height:270px;float:left')
                  table(style='font-size:9pt')
                      tr: td(colspan='2'): a(href='/detailproduk/#{value.Produk.id}'): img(src='/images/produk/#{value.Produk.gambar}', style='width:200px;height:210px')
                      tr: td(width='110px'): b: a(href='/detailproduk/#{value.Produk.id}') #{value.Produk.nama}
                          td Harga Rp <span class='uang'> </span>
                          script.
                            document.getElementsByClassName("uang")[#{index}].innerHTML = numberFormat("#{value.Produk.harga}", ".");
            br
            .category-tab
                ul.nav.nav-tabs
                    li(style='width:30%').active: a(href='#rekomendasitokofav' data-toggle='tab') Rekomendasi Toko Favorit
                    li(style='width:30%'): a(href='#tokofavorit' data-toggle='tab') Toko Favorit
                    li(style='width:30%'): a(href='#wishlist' data-toggle='tab') Wish List
                .tab-content
                    #tokofavorit.tab-pane.fade
                        each value in tokoFavorit
                            a(href='/detailproduk/#{value.Toko.id}')
                                div(style='width:160px;height:270px;float:left')
                                    img(src='/images/#{value.Toko.logo}', style='height: 150px;width:140px')
                                    | <center> #{value.Toko.nama} </center>
                    #rekomendasitokofav.tab-pane.fade.active.in
                        each value,n in rekomendasiTokoFavorit
                            div(style='width:160px;height:270px;float:left')
                                | <a href='/detailproduk/#{value.id}'>
                                | <img src='/images/produk/#{value.gambar}', style='height: 150px;width:140px'/> <br/> </a>
                                | <h4> Rp <span class='uang-rekomendasi'> </h4>
                                | <a href='/detailproduk/#{value.id}'> #{value.nama} </a><br/>
                                | <i class='fa fa-dribbble'></i>  jakarta <br/><a href='#'> Barokah Clothing</a>
                                script.
                                    document.getElementsByClassName("uang-rekomendasi")[#{n}].innerHTML = numberFormat("#{value.harga}", ".");
                    #wishlist.tab-pane.fade
                        each value,n in wishList
                            div(style='width:160px;height:270px;float:left')
                                | <a href='/detailproduk/#{value.Produk.id}'>
                                | <img src='/images/produk/#{value.Produk.gambar}', style='height: 150px;width:140px'/> <br/> </a>
                                | <h4> Rp <span class='uang-wishlist'> </h4>
                                | <a href='/detailproduk/#{value.Produk.id}'> #{value.Produk.nama} </a><br/>
                                | <i class='fa fa-dribbble'></i>  jakarta <br/><a href='#'> Barokah Clothing</a>
                                script.
                                    document.getElementsByClassName("uang-wishlist")[#{n}].innerHTML = numberFormat("#{value.Produk.harga}", ".");

            .row <br>
                p(align='left'): b KATEGORI
                - var counter2=1;
                - for(var counter = 0; counter < kategori_produk.length; counter+=2) {
                .row-fluid.row-category
                    div.span4
                        a(href='/daftarproduk/#{kategori_produk[counter].id}'): .category-button.span6=kategori_produk[counter].kategori
                    div.span4
                        a(href='/daftarproduk/#{kategori_produk[counter+1].id}'): .category-button.span6=kategori_produk[counter + 1].kategori
                - }


