extends tabPenjualan

append contentDalam
      //todo: untuk rencana pengembangan
      //.alert.alert-warning
      //  p Order Anda akan otomatis kami batalkan apabila Anda melewati batas waktu respon 5 hari kerja (Senin - Jumat) setelah order diverifikasi.
      //.container
      //  form.form-inline
      //      table
      //          tr
      //              td: input.form-control(type='text', placeholder='Invoice / Nama Pembeli')
      //              td Jatuh Tempo
      //              td
      //                  select.form-control(name='tambahkan',style='width:100px')
      //                      option(value='gudang')  Pilih
      //                      option(value='etalase')  Transaksi Belum Selesai
      //                      option(value='etalase')  Transaksi Telah Selesai
                    //td Kurir
                    //td
                    //    select.form-control(name='tambahkan',style='width:100px')
                    //       option(value='gudang')  JNE
                    //       option(value='gudang')  POS
                    td: input.form-control(type='submit', value='cari')
      if(transaksi.length == 0)
          .alert.alert-danger
              center: h4: b Tidak ada daftar pemesanan
      else
          script.
              function numberFormat(_number, _sep) {
                  _number = typeof _number != "undefined" && _number > 0 ? _number : "";
                  _number = _number.replace(new RegExp("^(\\d{" + (_number.length % 3 ? _number.length % 3 : 0) + "})(\\d{3})", "g"), "$1 $2").replace(/(\d{3})+?/gi, "$1 ").trim();
                  if (typeof _sep != "undefined" && _sep != " ") {
                      _number = _number.replace(/\s/g, _sep);
                  }
                  return _number;
              }
          table( width='680px' border='1' style="border: solid 1px lightgrey")
              tr
                  th(width='10%') Pembelian oleh
                  th(width='20%') Pengiriman
                  th(width='15%') Kurir POS
                  th(width='5%') Aksi
              each val,index in transaksi
                each inv,indexInv in val.Invoices
                    .modal.fade(class='modal-detail#{index}#{indexInv}' tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
                            .modal-dialog.modal-sm
                                .modal-content
                                    .modal-body(style='padding: 40px')
                                        p='rian'
                    tr
                        td
                            b=val.Pengguna.nama
                            p=inv.id
                            p: i.fa.fa-question-circle(style="cursor: pointer"
                                title="Pesanan Anda akan otomatis dibatalkan " +
                                "apabila penjual tidak merespon dalam waktu " +
                                "yang ditentukan."): b='jatuh tempo : ' + 4 + ' hari lagi'
                        td
                            p: small='a/n '+inv.Penerima.nama
                                | <br/> #{inv.Penerima.alamat} <br/>
                                | #{inv.Penerima.kecamatan} - #{inv.Penerima.Kabupaten.nama}, #{inv.Penerima.Provinsi.nama}
                            p: i.fa.fa-eye: a(href='#' data-toggle='modal' data-target='.modal-detail#{index}#{indexInv}')  detail transaksi
                        td
                            p: small: b jasa pengiriman - Reguler
                            p: input.form-control.input-sm(type='text' placeholder='masukkan no resi')
                            p: small: b
                                | ongkos kirim Rp <span id='ongkosKirim#{index}#{indexInv}'></span>
                            script.
                                document.getElementById("ongkosKirim#{index}#{indexInv}").innerHTML = numberFormat("#{inv.ongkos_kirim}", ".");
                        td
                            p: a(href='#') konfirmasi
                            p: a(href='#') batal
