extends layout
append content

    center
        .row
            script.
                function numberFormat(_number, _sep) {
                    _number = typeof _number != "undefined" && _number > 0 ? _number : "";
                    _number = _number.replace(new RegExp("^(\\d{" + (_number.length % 3 ? _number.length % 3 : 0) + "})(\\d{3})", "g"), "$1 $2").replace(/(\d{3})+?/gi, "$1 ").trim();
                    if (typeof _sep != "undefined" && _sep != " ") {
                        _number = _number.replace(/\s/g, _sep);
                    }
                    return _number;
                }
            h2.title.text-center PRODUK TERLARIS
            each value,index in hotlist
                .col-sm-4
                    table(style='font-size:9pt')
                        tr: td(colspan='2'): a(href='/detailproduk/#{value.Produk.id}'): img(src='/images/produk/#{value.Produk.gambar}', style='width: 200px;height:210px')
                        tr: td(width='110px'): b: a(href='/detailproduk/#{value.Produk.id}') #{value.Produk.nama}
                            td Harga Rp <span class='uang'> </span>
                            script.
                                document.getElementsByClassName("uang")[#{index}].innerHTML = numberFormat("#{value.Produk.harga}", ".");

        .row <br>
            p(align='left'): b KATEGORI
            - var counter2=1;
            - for(var counter = 0; counter < kategori_produk.length; counter+=2) {
                .row-fluid.row-category
                    div.span4
                        a(href='/daftarproduk/#{kategori_produk[counter].id}'): .category-button.span6=kategori_produk[counter].kategori
                    div.span4
                        a(href='/daftarproduk/#{kategori_produk[counter + 1].id}'): .category-button.span6=kategori_produk[counter + 1].kategori
            - }
            br




