extends layoutTabPembelian
append contentDalam

    each val,index in transaksi
        p #{index}
        each inv,indexInv in val.Invoices
            p #{indexInv}
            .row.alert.alert-info(style='width:683px; margin : 0 0px')
                p data transaksi : #{moment(val.tanggal_pembayaran).format('YYYY-MM-DD')}
                p data invoice : #{inv.id}
                each produk,count in inv.Produk
                     p #{count} - #{produk.nama}
            br
